/* h1{
    colour:brown;
} */

/* * {
    margin: 0;
    padding: 0;
} */

/* element selector */
h1 {
    color: green;
}
p{
    color: magenta;
}
/* id selector */
 
*error {
 color: *ff0000;
}